.App {
  text-align: center;
}

.iconBtn{
  width: 150px;
  height: 150px;
}

.MuiList-root a{
  text-decoration: none;
  color: initial;
}
main{
  position: absolute;
  top: 0px;
  left: 240px;
  width: calc(100% - 240px);
  z-index: 10001;
}

.add-transation-btn{
  position: fixed;
  bottom: 10px;
  right: 11px;
}
.MuiDialog-root{
  z-index: 13001 !important;
}